{% load wagtailcore_tags wagtailimages_tags %}

<section class="clearfix mb-5">
  <div class="text-start">
    {# get a rendition first #}
    {% image self.image width-900 as img %}

    <img
      src="{{ img.url }}"
      width="{{ img.width }}" height="{{ img.height }}"
      alt="{{ self.image.title }}"
      class="img-fluid rounded float-{{ self.float_side }} me-4 mb-3"
      style="width: {{ self.width_percent }}%; max-width: 420px; height: auto;"
    >

    <div class="rich-text">
      {{ self.text|richtext }}
    </div>
  </div>
</section>
